/* Styles pour les inputs du formulaire de création de compte */
.form-groupe {
    margin-bottom: 20px; /* Espace entre les groupes de champs */
    text-align: left; /* Alignement à gauche pour les labels et les champs */
}

.form-groupe label {
    display: block; /* Affiche le label sur une nouvelle ligne */
    margin-bottom: 5px; /* Espace entre le label et le champ */
    color: #555;
    font-weight: bold;
}

.form-groupe input {
    width: 100%;
    padding: 12px; /* Espacement interne pour le champ */
    border: 1px solid #ccc;
    border-radius: 5px; 
    font-size: 16px; 
    margin-bottom: 10px; /* Espace entre le champ et le message d'erreur */
}

/* Style spécifique pour le groupe téléphone */
.input-tel {
    display: flex; /* Utilise flexbox pour aligner le préfixe et le numéro de téléphone */
    gap: 10px;
}

.tel-prefix {
    width: 30%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.tel-input {
    width: 70%;
}