@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
header {
   background: linear-gradient(
      135deg,
      rgba(255, 255, 255, 0.95) 0%,
      rgba(245, 245, 245, 0.9) 15%,
      rgba(240, 240, 240, 0.9) 25%,
      rgba(245, 245, 245, 0.9) 35%,
      rgba(250, 250, 250, 0.95) 50%,
      rgba(245, 245, 245, 0.9) 65%,
      rgba(240, 240, 240, 0.9) 75%,
      rgba(245, 245, 245, 0.95) 100%
    );
    border-bottom: 2px solid #b08d57;
  }
  
  .Menu {
    display: grid;
    grid-template-columns: 60px auto 60px; /* 3 colonnes : gauche, centre, droite */
    align-items: center; /* Aligne les éléments verticalement au centre */
    /* justify-items: center; */
    padding: 10px 10px;
    border-bottom: 2px solid #ddd; /* Ligne en bas */
  }
  
  .Logo-Menu {
    /* grid-column: 1; Place le logo dans la première colonne */
    text-align: left; /* Aligne le texte à gauche */
  }
  
  .Menu-Titre {
    grid-column: 2;
    text-align: center;
    grid-row: 1/2;
  }
  .Menu-Titre h1 {
    font-family: "Pacifico", cursive;
    font-size: 1.5em;
    margin-bottom: 8px; /*Ajoute un espace de 8px sous le <h1> */
    letter-spacing: 1px;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
    background: linear-gradient(45deg, #d4af37, #b08d57, #d4af37);
    background-clip: text; /* Spécifie que l'arrière-plan (le dégradé) doit être "découpé pour ne
      s'afficher qu'à l'intérieur des lettres. */
    -webkit-background-clip: text; /* Ajoute la compatibilité pour les navigateurs basés sur WebKit */
    color: transparent;
    position: relative;
  
  }
  .Menu-Titre h1::after {
      content: ""; /* Nécessaire pour créer un pseudo-élément */
      position: absolute; /* Positionne le pseudo-élément par rapport au parent */
      bottom: -5px; /* Positionne le trait en bas du titre */
      left: 50%;  /* Centre le trait horizontalement */
      transform: translateX(-50%); /* Centre le trait horizontalement */
      width: 60%;
      height: 2px;

      background: linear-gradient(to right, transparent, #b08d57, transparent);
  }
  .Menu-Titre p {
    font-weight: bold;
    font-size: 12px;
    color: transparent;
    background: linear-gradient(45deg, #d4af37, #b08d57);
    background-clip: text;
    -webkit-background-clip: text;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  
  .icons-menu {
    grid-column: 1/-1;
    grid-row: 1/2;
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    text-align: right;
    
  }
  .icon {
    width: 24px; /* Taille des icônes */
    height: 24px;
    margin-left: 5px; /* Espacement entre les icônes */
    cursor: pointer; /* Change le curseur pour indiquer que c'est cliquable */
  }
  
  .icon-recherche {
    margin-right: auto;
  }
  .menu-titre-link {
    text-decoration: none;
    color: inherit;
  }

  
  .icon:hover {
    transform: scale(1.2); /* Agrandit l'icône au survol */
  }


  