

.Connexion, .Creation-compte {
    background-color: #f5f5f5;
    width: auto;
    margin: 35px;
    padding: 20px;
    border: 1px solid #b08d57;
    border-radius: 15px;
  }
.Creation-compte h1,.Creation-compte p{
    margin: 10px;
}

.Mail label{
    display: block; /* ! Les <label> sont des éléments en ligne(inline) Cela signifie qu'ils ne commencent pas sur une nouvelle
    ! ligne et ne peuvent pas avoir de marges verticales (margin-top ou margin-bottom) ça ne s'applique qu'aux éléments de type bloc
    ! en le convertissant en élément bloc je peux lui permettre de commencer sur une nouvelle ligne  */

    margin-bottom: 5px; /* Ajoute un espace entre le label et l'input */
}
.Mail input {
    display: block; /* Force l'input à occuper toute la largeur */
    width: 100%; /* Optionnel : ajuste la largeur de l'input  */
    padding: 8px; /* Permet d'agrandir mon input */
    margin-bottom: 15px; /* Ajoute un espace entre les inputs */
}
/* display: block: Cela force les éléments (labels et inputs) à s'afficher sur une nouvelle ligne */
/* width: 100% Va me permettre à l'input de s'étendre sur toute la largeur de leur conteneur*/

.MDP label{
    display: block;
    margin-bottom: 5px;
}
.MDP input{
    display: block;
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;

}
.error-message{
    color: red;
}

.LogoEyes1,  .LogoEyes2 { 
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.LogoEyes1 {
    display: none;
}

#loginForm{
padding: 15px;
}
.Connexion :where(h1,p)
/* ça revient à faire ça --->  .Connexion h1,.Connexion p */
{
padding: 10px;
}


h1{
        color: #333333;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);

}


      button:hover {
        background-color: #555555;
      }

.Connexion input{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 20px;
}

  
.Creation-compte input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.Creation-compte :where(h1,p){
    padding: 10px;
}

/* Style pour le lien "Mot de passe oublié" */
.Connexion a {

    color: #b08d57;
    text-decoration: none; /* Supprime le soulignement par défaut */
    margin-top: 10px; /* Ajoute un espace au-dessus du lien */
    padding: 5px; /* Ajoute un peu d'espace autour du lien */
    transition: color 0.3s ease;  /* Ajoute une transition douce pour le changement de couleur */
}

.Connexion a:hover {
    color: #d4af37;
    text-decoration: underline;
}
