*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.container p {
    font-size: 1.2rem;      
    line-height: 1.5;    
    color: #333;
}
.main, h1 {
    color: #333;
    font-family: 'Playfair Display', serif;
    text-align: center; 
    padding: 20px; /* Padding 20px Haut et Bas */
}

.container img {
    padding-top: 10px; /* Padding 10px Haut */
}